~*
.vs
*.map
*.tsbuildinfo
*.cache
*.dbmdl
*.exe
*.log
bin
obj
sql
"Import Script Logs"
.sass-cache
FakesAssemblies
node_modules
dist
logs
*.user
*.jfm
/src/TaskRunner/Properties/launchSettings.json
Directory.Personal.props
appsettings.Development.json
.idea
testenvironments.json
BenchmarkDotNet.Artifacts
auth.secret
.env
.PVS-Studio
artifacts